@import "./variables";

.contact-btn {
   background-color: $orange;
   padding: 20px 0px 20px 20px;
   color: white;
   border: none;
   margin-top: 5rem;
   font-family: "Montserrat", sans-serif;
   font-size: 11px;
   letter-spacing: 0.85px;
   text-transform: uppercase;
}
