.container {
   width: 75%;
   margin: 0 auto;
}

body {
   width: 100%;
   background-color: $grey;
}

.front-page {
   width: 33%;
}

.body-left {
   float: right;
   margin-top: 5rem;
}

.architecture-img {
   width: 709.5px;
   height: 473px;
   position: absolute;
   right: 0;
   top: 380px;
}
