body {
   background-color: $grey;
}

.container {
   width: 75%;
   margin: 0 auto;
   height: 100vh;
}

.front-page {
   width: 33%;
}

.body-left {
   float: right;
   margin-top: 5rem;
}

.architecture-img {
   // width: 709.5px;
   width: 45%;
   // height: 473px;
   position: absolute;
   right: 0;
   top: 380px;
}
