@import "./scss/navbar";
@import "./scss/layout";
@import "./scss/typography";
@import "./scss/buttons";
@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); // font-family: 'Montserrat', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Yrsa:ital@1&display=swap"); // font-family: 'Yrsa', serif;
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); // font-family: 'Inter', sans-serif;

.container {
   width: 75%;
   margin: 0 auto;
   margin-top: 2rem;
}

body {
   width: 100%;
   background-color: $grey;
}

// intro page

.front-page {
   width: 33%;
}

.title {
   font-family: "Yrsa", serif;
   font-size: 75px;
   letter-spacing: -1.2px;
   line-height: 74px;
}

.sub-title {
   font-family: "Montserrat", sans-serif;
   font-size: 13px;
   letter-spacing: 1.25px;
   text-transform: uppercase;
   color: $black;
   margin-top: 1rem;
}

.body-left {
   float: right;
   margin-top: 5rem;
}

.body-front-page {
   font-family: "Inter", sans-serif;
   font-size: 14px;
   color: $black;
   line-height: 28px;
   width: 386px;
   letter-spacing: 0.11px;
}

.arrow {
   color: black;
   padding: 0 1rem;
}

.architecture-img {
   width: 709.5px;
   height: 473px;
   position: absolute;
   right: 0;
   top: 380px;
}
