@import "../variables";
@import "../typography";

.nav {
   @include uppercase;
   @include flex-space-center;

   margin-bottom: 92px;
   margin-top: 6rem;
   .nav-left {
      display: flex;
   }
   .nav-right {
      display: flex;
   }
   .nav-item-left {
      margin-right: 2.5rem;
   }
   .nav-item-right {
      margin-left: 2.5rem;
   }
   .nav-link {
      text-decoration: none;
      color: $black;
   }

   .logo {
      width: 72px;
   }
}
